
<!-- feeds -->
<div class="widget widget_feeds">
    <div class="content">
        <div id="subscribe">
            <a rel="external nofollow" id="feedrss" title="Subscribe to this blog..." href="{{ site.feed }}"><abbr title="Recent Entries">Atom</abbr></a>
        </div>
        <a rel="external nofollow" id="feedemail" title="Subscribe to this blog via email..." href="http://www.feedsky.com/msub_wr.html?burl={{ site.feedsky.id }}">Email</a>
        <a rel="external nofollow" id="followme" title="Follow me!" href="https://twitter.com/{{ site.author.twitter }}/">Twitter</a>
        <div class="fixed"></div>
    </div>
</div>

<!-- showcase -->

<!-- coming posts -->

<!-- posts -->
{% if page.title %}
<div class="widget">
    <h3>Recent Entries</h3>
    <ul>
        {% for post in site.posts limit:5 %}
        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>
</div>
{% endif %}

<!-- categories
<div class="widget widget_categories">
    <h3>Categories</h3>
    <ul>
        {% for category in page.categories %}
        <li class=""><a href="/category/{{ category }}/" title="View all posts filed under {{ category | capitalize }}">{{ category | capitalize }}</a></li>
        {% endfor %}
    </ul>
    <div class="fixed"></div>
</div> -->

<!-- tag cloud -->
<div id="tag_cloud" class="widget">
    <h3>Tag Cloud</h3>
</div>

<!-- comments -->
<div id="recent_comments" class="widget">
    <h3>Recent Comments</h3>
</div>

