
<!-- feeds -->
<div class="widget widget_feeds">
    <div class="content">
        <div id="subscribe">
            <a rel="external nofollow" id="feedrss" title="Subscribe to this blog..." href="{{ site.feed }}"><abbr title="Recent Entries">Atom</abbr></a>
            <ul id="feed_readers">
                <li id="google_reader"><a rel="external nofollow" class="reader" title="Subscribe with Google" href="http://fusion.google.com/add?feedurl={{ site.url }}{{ site.feed }}"><span>Google</span></a></li>
                <li id="youdao_reader"><a rel="external nofollow" class="reader" title="Subscribe with 有道" href="http://reader.youdao.com/b.do?url={{ site.url }}{{ site.feed }}"><span>有道</span></a></li>
                <li id="xianguo_reader"><a rel="external nofollow" class="reader" title="Subscribe with 鲜果" href="http://www.xianguo.com/subscribe.php?url={{ site.url }}{{ site.feed }}"><span>鲜果</span></a></li>
                <li id="zhuaxia_reader"><a rel="external nofollow" class="reader" title="Subscribe with 抓虾" href="http://www.zhuaxia.com/add_channel.php?url={{ site.url }}{{ site.feed }}"><span>抓虾</span></a></li>
                <li id="qq_reader"><a rel="external nofollow" class="reader" title="Subscribe with QQ 邮箱" href="http://mail.qq.com/cgi-bin/feed?u={{ site.url }}{{ site.feed }}"><span>QQ 邮箱</span></a></li>
                <li id="douban_reader"><a rel="external nofollow" class="reader" title="Subscribe with 豆瓣九点" href="http://9.douban.com/reader/subscribe?url={{ site.url }}{{ site.feed }}"><span>豆瓣九点</span></a></li>
                <li id="yahoo_reader"><a rel="external nofollow" class="reader" title="Subscribe with My Yahoo!" href="http://add.my.yahoo.com/rss?url={{ site.url }}{{ site.feed }}"><span>My Yahoo!</span></a></li>
                <li id="newsgator_reader"><a rel="external nofollow" class="reader" title="Subscribe with newsgator" href="http://www.newsgator.com/ngs/subscriber/subfext.aspx?url={{ site.url }}{{ site.feed }}"><span>newsgator</span></a></li>
                <li id="bloglines_reader"><a rel="external nofollow" class="reader" title="Subscribe with Bloglines" href="http://www.bloglines.com/sub/{{ site.url }}{{ site.feed }}"><span>Bloglines</span></a></li>
                <li id="inezha_reader"><a rel="external nofollow" class="reader" title="Subscribe with 哪吒网" href="http://inezha.com/add?url={{ site.url }}{{ site.feed }}"><span>哪吒网</span></a></li>
            </ul>
        </div>
        <a rel="external nofollow" id="feedemail" title="Subscribe to this blog via email..." href="http://www.feedsky.com/msub_wr.html?burl={{ site.feedsky.id }}">Email</a>
        <a rel="external nofollow" id="followme" title="Follow me!" href="https://twitter.com/{{ site.author.twitter }}/">Twitter</a>
        <div class="fixed"></div>
    </div>
</div>

<!-- showcase -->

<!-- coming posts -->

<!-- posts -->
<ul>
    {% if page.title %}
    <div class="widget">
        <h3>Recent Entries</h3>
        <ul>
            {% for post in site.posts limit:5 %}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
</ul>

<!-- categories
<div class="widget widget_categories">
    <h3>Categories</h3>
    <ul>
        {% for category in page.categories %}
        <li class=""><a href="/category/{{ category }}/" title="View all posts filed under {{ category | capitalize }}">{{ category | capitalize }}</a></li>
        {% endfor %}
    </ul>
    <div class="fixed"></div>
</div> -->

<!-- tag cloud -->
<div id="tag_cloud" class="widget">
    <h3>Tag Cloud</h3>
    {% include tagcloud.html %}
</div>

<!-- comments -->
<div id="recent_comments" class="widget">
    <h3>Recent Comments</h3>
</div>

