
		<div class="post" id="post-933">
			<h1><a class="title" href="http://www.neoease.com/wordpress-plugins-i-using/" rel="bookmark">使用中的 WordPress 插件</a></h1>
			<div class="info">
				<span class="date">September 18th, 2009</span>
								<span class="comments"><a href="http://www.neoease.com/wordpress-plugins-i-using/#comments" title="Comment on 使用中的 WordPress 插件">56 comments</a></span>
				<div class="fixed"></div>
			</div>
			<div class="content blank_content"></div>
			<div class="under">
				<span id="translate_button_post-933" class="translate"><a href="javascript:void(0);" onclick="show_translate_popup('en', 'post', 933);">Translate</a></span>
				<span class="categories"><a href="http://www.neoease.com/category/wordpress/wp-plugin/" title="View all posts in WP Plugin" rel="category tag">WP Plugin</a></span>
				<span class="tags"><a href="http://www.neoease.com/tag/jotting/" rel="tag">Jotting</a>, <a href="http://www.neoease.com/tag/plugin/" rel="tag">Plugin</a>, <a href="http://www.neoease.com/tag/wordpress/" rel="tag">WordPress</a></span>
			</div>
		</div>
			<div class="post" id="post-928">
			<h1><a class="title" href="http://www.neoease.com/integrate-google-custom-search-into-wordpress/" rel="bookmark">整合 Google 自定义搜索 CSE</a></h1>
			<div class="info">
				<span class="date">September 15th, 2009</span>
								<span class="comments"><a href="http://www.neoease.com/integrate-google-custom-search-into-wordpress/#comments" title="Comment on 整合 Google 自定义搜索 CSE">32 comments</a></span>
				<div class="fixed"></div>
			</div>
			<div class="content blank_content"></div>
			<div class="under">
				<span id="translate_button_post-928" class="translate"><a href="javascript:void(0);" onclick="show_translate_popup('en', 'post', 928);">Translate</a></span>
				<span class="categories"><a href="http://www.neoease.com/category/wordpress/wp-trick/" title="View all posts in WP Trick" rel="category tag">WP Trick</a></span>
				<span class="tags"><a href="http://www.neoease.com/tag/google/" rel="tag">Google</a>, <a href="http://www.neoease.com/tag/search/" rel="tag">Search</a>, <a href="http://www.neoease.com/tag/theme/" rel="tag">Theme</a>, <a href="http://www.neoease.com/tag/trick/" rel="tag">Trick</a>, <a href="http://www.neoease.com/tag/wordpress/" rel="tag">WordPress</a></span>
			</div>
		</div>
			<div class="post" id="post-907">
			<h1><a class="title" href="http://www.neoease.com/ani7ime-water-brain/" rel="bookmark">动漫: Water Brain by Ani7ime</a></h1>
			<div class="info">
				<span class="date">September 14th, 2009</span>
								<span class="comments"><a href="http://www.neoease.com/ani7ime-water-brain/#comments" title="Comment on 动漫: Water Brain by Ani7ime">27 comments</a></span>
				<div class="fixed"></div>
			</div>
			<div class="content blank_content"></div>
			<div class="under">
				<span id="translate_button_post-907" class="translate"><a href="javascript:void(0);" onclick="show_translate_popup('en', 'post', 907);">Translate</a></span>
				<span class="categories"><a href="http://www.neoease.com/category/cartoon/animation-cartoon/" title="View all posts in Animation" rel="category tag">Animation</a></span>
				<span class="tags"><a href="http://www.neoease.com/tag/ani7ime/" rel="tag">Ani7ime</a>, <a href="http://www.neoease.com/tag/animation/" rel="tag">Animation</a>, <a href="http://www.neoease.com/tag/vedio/" rel="tag">Vedio</a></span>
			</div>
		</div>
			<div class="post" id="post-890">
			<h1><a class="title" href="http://www.neoease.com/css-design-out-of-the-box/" rel="bookmark">CSS: 突破框框的设计</a></h1>
			<div class="info">
				<span class="date">September 11th, 2009</span>
								<span class="comments"><a href="http://www.neoease.com/css-design-out-of-the-box/#comments" title="Comment on CSS: 突破框框的设计">24 comments</a></span>
				<div class="fixed"></div>
			</div>
			<div class="content blank_content"></div>
			<div class="under">
				<span id="translate_button_post-890" class="translate"><a href="javascript:void(0);" onclick="show_translate_popup('en', 'post', 890);">Translate</a></span>
				<span class="categories"><a href="http://www.neoease.com/category/application/css-application/" title="View all posts in CSS" rel="category tag">CSS</a></span>
				<span class="tags"><a href="http://www.neoease.com/tag/css/" rel="tag">CSS</a>, <a href="http://www.neoease.com/tag/design-trends/" rel="tag">Design Trends</a>, <a href="http://www.neoease.com/tag/inspiration/" rel="tag">inspiration</a>, <a href="http://www.neoease.com/tag/tutorial/" rel="tag">Tutorial</a></span>
			</div>
		</div>
			<div class="post" id="post-889">
			<h1><a class="title" href="http://www.neoease.com/opera-10-with-turbo/" rel="bookmark">带涡轮加速器的 Opera 10</a></h1>
			<div class="info">
				<span class="date">September 8th, 2009</span>
								<span class="comments"><a href="http://www.neoease.com/opera-10-with-turbo/#comments" title="Comment on 带涡轮加速器的 Opera 10">40 comments</a></span>
				<div class="fixed"></div>
			</div>
			<div class="content blank_content"></div>
			<div class="under">
				<span id="translate_button_post-889" class="translate"><a href="javascript:void(0);" onclick="show_translate_popup('en', 'post', 889);">Translate</a></span>
				<span class="categories"><a href="http://www.neoease.com/category/tool/browser/" title="View all posts in Browser" rel="category tag">Browser</a></span>
				<span class="tags"><a href="http://www.neoease.com/tag/browser/" rel="tag">Browser</a>, <a href="http://www.neoease.com/tag/devel/" rel="tag">Devel</a>, <a href="http://www.neoease.com/tag/development/" rel="tag">Development</a>, <a href="http://www.neoease.com/tag/opera/" rel="tag">Opera</a>, <a href="http://www.neoease.com/tag/tool/" rel="tag">Tool</a></span>
			</div>
		</div>
			<div class="post" id="post-888">
			<h1><a class="title" href="http://www.neoease.com/wordcamp-2009-beijing/" rel="bookmark">WordCamp 2009 北京之行</a></h1>
			<div class="info">
				<span class="date">August 25th, 2009</span>
								<span class="comments"><a href="http://www.neoease.com/wordcamp-2009-beijing/#comments" title="Comment on WordCamp 2009 北京之行">85 comments</a></span>
				<div class="fixed"></div>
			</div>
			<div class="content blank_content"></div>
			<div class="under">
				<span id="translate_button_post-888" class="translate"><a href="javascript:void(0);" onclick="show_translate_popup('en', 'post', 888);">Translate</a></span>
				<span class="categories"><a href="http://www.neoease.com/category/wordpress/" title="View all posts in WordPress" rel="category tag">WordPress</a></span>
				<span class="tags"><a href="http://www.neoease.com/tag/journal/" rel="tag">Journal</a>, <a href="http://www.neoease.com/tag/photo/" rel="tag">Photo</a>, <a href="http://www.neoease.com/tag/wordcamp/" rel="tag">WordCamp</a>, <a href="http://www.neoease.com/tag/wordpress/" rel="tag">WordPress</a></span>
			</div>
		</div>
			<div class="post" id="post-887">
			<h1><a class="title" href="http://www.neoease.com/rollip-image-tool/" rel="bookmark">Rollip 图片处理</a></h1>
			<div class="info">
				<span class="date">August 17th, 2009</span>
								<span class="comments"><a href="http://www.neoease.com/rollip-image-tool/#comments" title="Comment on Rollip 图片处理">50 comments</a></span>
				<div class="fixed"></div>
			</div>
			<div class="content blank_content"></div>
			<div class="under">
				<span id="translate_button_post-887" class="translate"><a href="javascript:void(0);" onclick="show_translate_popup('en', 'post', 887);">Translate</a></span>
				<span class="categories"><a href="http://www.neoease.com/category/tool/web-tool/" title="View all posts in Web Tool" rel="category tag">Web Tool</a></span>
				<span class="tags"><a href="http://www.neoease.com/tag/photo/" rel="tag">Photo</a>, <a href="http://www.neoease.com/tag/tool/" rel="tag">Tool</a>, <a href="http://www.neoease.com/tag/website/" rel="tag">Website</a></span>
			</div>
		</div>
			<div class="post" id="post-886">
			<h1><a class="title" href="http://www.neoease.com/who-touched-my-feed-reader/" rel="bookmark">谁动了我的订阅器</a></h1>
			<div class="info">
				<span class="date">August 15th, 2009</span>
								<span class="comments"><a href="http://www.neoease.com/who-touched-my-feed-reader/#comments" title="Comment on 谁动了我的订阅器">39 comments</a></span>
				<div class="fixed"></div>
			</div>
			<div class="content blank_content"></div>
			<div class="under">
				<span id="translate_button_post-886" class="translate"><a href="javascript:void(0);" onclick="show_translate_popup('en', 'post', 886);">Translate</a></span>
				<span class="categories"><a href="http://www.neoease.com/category/tool/web-tool/" title="View all posts in Web Tool" rel="category tag">Web Tool</a></span>
				<span class="tags"><a href="http://www.neoease.com/tag/blog/" rel="tag">Blog</a>, <a href="http://www.neoease.com/tag/feed-reader/" rel="tag">Feed Reader</a>, <a href="http://www.neoease.com/tag/follow/" rel="tag">Follow</a></span>
			</div>
		</div>
			<div class="post" id="post-885">
			<h1><a class="title" href="http://www.neoease.com/show-diff-between-crawlers-and-guests/" rel="bookmark">向访客和爬虫显示不同的内容</a></h1>
			<div class="info">
				<span class="date">August 14th, 2009</span>
								<span class="comments"><a href="http://www.neoease.com/show-diff-between-crawlers-and-guests/#comments" title="Comment on 向访客和爬虫显示不同的内容">46 comments</a></span>
				<div class="fixed"></div>
			</div>
			<div class="content blank_content"></div>
			<div class="under">
				<span id="translate_button_post-885" class="translate"><a href="javascript:void(0);" onclick="show_translate_popup('en', 'post', 885);">Translate</a></span>
				<span class="categories"><a href="http://www.neoease.com/category/application/php-application/" title="View all posts in PHP" rel="category tag">PHP</a></span>
				<span class="tags"><a href="http://www.neoease.com/tag/php/" rel="tag">PHP</a>, <a href="http://www.neoease.com/tag/seo/" rel="tag">SEO</a>, <a href="http://www.neoease.com/tag/tutorial/" rel="tag">Tutorial</a></span>
			</div>
		</div>
			<div class="post" id="post-884">
			<h1><a class="title" href="http://www.neoease.com/guangzhou-twitter-camp/" rel="bookmark">广州推友聚会</a></h1>
			<div class="info">
				<span class="date">August 10th, 2009</span>
								<span class="comments"><a href="http://www.neoease.com/guangzhou-twitter-camp/#comments" title="Comment on 广州推友聚会">81 comments</a></span>
				<div class="fixed"></div>
			</div>
			<div class="content blank_content"></div>
			<div class="under">
				<span id="translate_button_post-884" class="translate"><a href="javascript:void(0);" onclick="show_translate_popup('en', 'post', 884);">Translate</a></span>
				<span class="categories"><a href="http://www.neoease.com/category/journal/" title="View all posts in Journal" rel="category tag">Journal</a></span>
				<span class="tags"><a href="http://www.neoease.com/tag/blog/" rel="tag">Blog</a>, <a href="http://www.neoease.com/tag/journal/" rel="tag">Journal</a>, <a href="http://www.neoease.com/tag/photo/" rel="tag">Photo</a>, <a href="http://www.neoease.com/tag/twitter/" rel="tag">Twitter</a></span>
			</div>
		</div>
			<div class="post" id="post-883">
			<h1><a class="title" href="http://www.neoease.com/change-home-icon-to-text-on-inove/" rel="bookmark">将 iNove 菜单上的小屋图标换成文字</a></h1>
			<div class="info">
				<span class="date">August 9th, 2009</span>
								<span class="comments"><a href="http://www.neoease.com/change-home-icon-to-text-on-inove/#comments" title="Comment on 将 iNove 菜单上的小屋图标换成文字">29 comments</a></span>
				<div class="fixed"></div>
			</div>
			<div class="content blank_content"></div>
			<div class="under">
				<span id="translate_button_post-883" class="translate"><a href="javascript:void(0);" onclick="show_translate_popup('en', 'post', 883);">Translate</a></span>
				<span class="categories"><a href="http://www.neoease.com/category/wordpress/wp-trick/" title="View all posts in WP Trick" rel="category tag">WP Trick</a></span>
				<span class="tags"><a href="http://www.neoease.com/tag/icon/" rel="tag">Icon</a>, <a href="http://www.neoease.com/tag/inove/" rel="tag">iNove</a>, <a href="http://www.neoease.com/tag/menu/" rel="tag">Menu</a></span>
			</div>
		</div>
			<div class="post" id="post-882">
			<h1><a class="title" href="http://www.neoease.com/that-is-why-traditional-chinese-is-not-supported/" rel="bookmark">為何不提供繁體中文譯本</a></h1>
			<div class="info">
				<span class="date">August 8th, 2009</span>
								<span class="comments"><a href="http://www.neoease.com/that-is-why-traditional-chinese-is-not-supported/#comments" title="Comment on 為何不提供繁體中文譯本">62 comments</a></span>
				<div class="fixed"></div>
			</div>
			<div class="content blank_content"></div>
			<div class="under">
				<span id="translate_button_post-882" class="translate"><a href="javascript:void(0);" onclick="show_translate_popup('en', 'post', 882);">Translate</a></span>
				<span class="categories"><a href="http://www.neoease.com/category/journal/" title="View all posts in Journal" rel="category tag">Journal</a></span>
				<span class="tags"><a href="http://www.neoease.com/tag/chinese/" rel="tag">Chinese</a>, <a href="http://www.neoease.com/tag/language/" rel="tag">Language</a>, <a href="http://www.neoease.com/tag/talk/" rel="tag">Talk</a></span>
			</div>
		</div>
			<div class="post" id="post-881">
			<h1><a class="title" href="http://www.neoease.com/load-posts-dynamically/" rel="bookmark">动态加载文章内容</a></h1>
			<div class="info">
				<span class="date">August 3rd, 2009</span>
								<span class="comments"><a href="http://www.neoease.com/load-posts-dynamically/#comments" title="Comment on 动态加载文章内容">64 comments</a></span>
				<div class="fixed"></div>
			</div>
			<div class="content blank_content"></div>
			<div class="under">
				<span id="translate_button_post-881" class="translate"><a href="javascript:void(0);" onclick="show_translate_popup('en', 'post', 881);">Translate</a></span>
				<span class="categories"><a href="http://www.neoease.com/category/wordpress/wp-trick/" title="View all posts in WP Trick" rel="category tag">WP Trick</a></span>
				<span class="tags"><a href="http://www.neoease.com/tag/theme/" rel="tag">Theme</a>, <a href="http://www.neoease.com/tag/tutorial/" rel="tag">Tutorial</a>, <a href="http://www.neoease.com/tag/wordpress/" rel="tag">WordPress</a></span>
			</div>
		</div>
			<div class="post" id="post-879">
			<h1><a class="title" href="http://www.neoease.com/ie6-must-die/" rel="bookmark">IE6 必死</a></h1>
			<div class="info">
				<span class="date">July 28th, 2009</span>
								<span class="comments"><a href="http://www.neoease.com/ie6-must-die/#comments" title="Comment on IE6 必死">106 comments</a></span>
				<div class="fixed"></div>
			</div>
			<div class="content blank_content"></div>
			<div class="under">
				<span id="translate_button_post-879" class="translate"><a href="javascript:void(0);" onclick="show_translate_popup('en', 'post', 879);">Translate</a></span>
				<span class="categories"><a href="http://www.neoease.com/category/tool/browser/" title="View all posts in Browser" rel="category tag">Browser</a></span>
				<span class="tags"><a href="http://www.neoease.com/tag/browser/" rel="tag">Browser</a>, <a href="http://www.neoease.com/tag/ie/" rel="tag">IE</a>, <a href="http://www.neoease.com/tag/talk/" rel="tag">Talk</a>, <a href="http://www.neoease.com/tag/web/" rel="tag">Web</a></span>
			</div>
		</div>
			<div class="post" id="post-878">
			<h1><a class="title" href="http://www.neoease.com/guess-movie-tv-show-orange-action/" rel="bookmark">爱猜电影橘子行动</a></h1>
			<div class="info">
				<span class="date">July 24th, 2009</span>
								<span class="comments"><a href="http://www.neoease.com/guess-movie-tv-show-orange-action/#comments" title="Comment on 爱猜电影橘子行动">34 comments</a></span>
				<div class="fixed"></div>
			</div>
			<div class="content blank_content"></div>
			<div class="under">
				<span id="translate_button_post-878" class="translate"><a href="javascript:void(0);" onclick="show_translate_popup('en', 'post', 878);">Translate</a></span>
				<span class="categories"><a href="http://www.neoease.com/category/movie/sitcom/" title="View all posts in Sitcom" rel="category tag">Sitcom</a></span>
				<span class="tags"><a href="http://www.neoease.com/tag/tv/" rel="tag">TV</a>, <a href="http://www.neoease.com/tag/video/" rel="tag">Video</a></span>
			</div>
		</div>
	
<div id="pagenavi">
			<div class="wp-pagenavi">
<span class="pages">Page 1 of 24</span><span class="current">1</span><a href="http://www.neoease.com/page/2/" class="page" title="2">2</a><a href="http://www.neoease.com/page/3/" class="page" title="3">3</a><a href="http://www.neoease.com/page/4/" class="page" title="4">4</a><a href="http://www.neoease.com/page/5/" class="page" title="5">5</a><a href="http://www.neoease.com/page/6/" class="page" title="6">6</a><a href="http://www.neoease.com/page/7/" class="page" title="7">7</a><a href="http://www.neoease.com/page/8/" class="page" title="8">8</a><a href="http://www.neoease.com/page/9/" class="page" title="9">9</a><a href="http://www.neoease.com/page/10/" class="page" title="10">10</a><a href="http://www.neoease.com/page/2/" >&raquo;</a><span class="extend">...</span><a href="http://www.neoease.com/page/24/" class="last" title="Last &raquo;">Last &raquo;</a></div>
		<div class="fixed"></div>
</div>

