<a href='http://www.google.com/search?q=+site%3Aazuwis.github.com' class='' title='2 topics' rel='tag' style='font-size: 12.000000pt;'></a>
<a href='http://www.google.com/search?q=javascript+site%3Aazuwis.github.com' class='' title='1 topics' rel='tag' style='font-size: 16.000000pt;'>javascript</a>
<a href='http://www.google.com/search?q=mootools+site%3Aazuwis.github.com' class='' title='2 topics' rel='tag' style='font-size: 12.000000pt;'>mootools</a>
<a href='http://www.google.com/search?q=twitter+site%3Aazuwis.github.com' class='' title='1 topics' rel='tag' style='font-size: 16.000000pt;'>twitter</a>
